/* ***REGOLE GENERICO*** */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight:600; 
}
.boxed {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.maxWid570{
    max-width: 570px;
}
.sizing {
    padding: 4em;
}
#textAlign {
    text-align: center;
}
.Height800{
    height:800px;
}
.maxMinWid {
    max-width:600px;
    min-width:160px;
}
.width100{
    width: 100%;
}
.borderNone {
    border:none;
}
.dispInlBlock
{
    display: inline-block;
}
.marginSide {
    margin: 0 auto;
}
.wid30 {
    width: 30%;
}
/* ***REGOLE GENERICO END*** */
/* REGOLE FLEX */
.flexContainer{
    display: flex;
    flex-direction: row;
}
.jtfspacebet {
    justify-content:space-between;
}
.alignitm {
    align-items:center; 
}
.alignitmend {
    align-items:flex-end;
}
.jtfcenter {
    justify-content: center;
}
.jtfspacearound {
    justify-content:space-around;
}
.column {
    flex-direction: column;
}
.jtfspaceevenly{
    justify-content: space-evenly;
}
.alignitmflexstart{
    align-items: flex-start;
}
.wrap {flex-wrap: wrap;}
/* End  */
/* Header  */
header{
    width: 100%;
    min-width: 1200px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.border {
    border: 2px dotted black;
}
.logo,.link,.login {
    height: 1.5em;
    color: white;
}
.link {
    text-align: center;
    width: 60%;
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    padding: 5px;
}
a{
    text-decoration: none;
    color: white;
}
.link a {
    margin:0 auto;
    text-align: center;
    
}
.link {width:40%;}
a:hover {
    text-decoration: underline;
}
.login {
text-align: right;
}
.logo,.login {
    width:20%;
}
#buttonLogin {
    border-radius: 10px;
    padding: 7px;
    border:none;
    color: black;
    cursor: pointer;
}
#buttonLogin:hover {
    background-color: black;
    color: white;
    transition: 300ms;
}
.lightblue {
    min-height: 4em;
    padding-top: 10px;
}

.blue {
    width:100%;
    height:500px;
    }

.blockTitle {
    width: 70%;
    height:100%;
    flex-direction: column;
}
.blockTitle h1 {
    font-size: 45px;
    font-weight: 900;
    width: 80%;
    text-align: center;
    color: white;
}
.blockTitle p {
    font-size: 18px;
    text-align: center;
    color: white;
    line-height:30px;
}
#buttBrowser,.buttMac{
    border-radius: 25px;
    font-size: 16px;
    padding: 1em;
    cursor: pointer;    
}
.buttMac {
    color:black;
    background-color: white;
    margin-right: 1.5em;
}
.buttMac:hover {
    background-color: black;
    color: white;
    transition: 300ms;
}
#buttBrowser {
    background-color: black;
    color: white;
}
#buttBrowser:hover {
    background-color: white;
    color:cornflowerblue;
    transition: 300ms;
}
/* HEADER END */
.white {
    height:600px;
    background-color: white;
}
#cWhite {
    color: white;
}
.bloccoUno {
    width: 70%;
}
.bloccoDue {
    width:30%;
    color: black;
}
.bloccoDue h1 {
    font-weight: 900;
    margin: 10px 0;
}
.paragrafoUno{
    background-color: white;
    text-align: center;

}   

.bggray {
    background-color:#d3d3d3;
}
.wave {
    background-image: url(../img/wave.svg);
    height: 100px;
    opacity:17%;}
.waveRotate {
    background-image: url(../img/wave.svg);
    height: 100px;
    opacity:17%;
    transform:rotate(180deg);
}

#textAlign h1 {
    font-weight: 900;
}
.wid80 {
    width: 80%;
}
h3 {
    font-weight: 800;
    margin-top: 1em;
    padding-top: 1em;
    width:100%;
}
.stars {
    background-image: url(../img/stars.svg);
    background-size:contain;
    background-position:top;
    background-repeat: no-repeat;


    
}
.bglightviolet {
    background-color:cornflowerblue;
}
.black {
    background-color: black;
}

.spacerTop {
    border-top: 2px solid white;
    width: 100%;
}
.spacerBottom {
    border-bottom: 2px solid white;
}
.smooth {
    height:110px;
    background-color: black;
}


.logofooter {
    background-color: black;
    padding: 2px;
}
#bottone {
    background-color: cornflowerblue;
    color: white;
    border-radius: 20px;
    border: none;
    padding: 5px;

}
.sizingFooter {
    padding-top: 3em;
} 
.flexContainer h2 {
    font-weight: 900;
    font-size: 30px;
    color: cornflowerblue;
}
.menu {
    margin-top: 15px;
}
#flag {
    width:30%;
}
select {
    padding:5px;
    background-color: black;
    color:white;}
.icon {
    margin:15px 5px;
}
.block h5 {
    color:cornflowerblue;
    font-size:24px;
    margin-top: 5px;
    padding: 4px;
    font-weight: 700;
    }
.block span {
    color: white;
    padding: 4px;
    margin-top: 5px;
}
