/* ***REGOLE GENERICO*** */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;   
}
.boxed {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}
.sizing {padding: 4em;}
.arrow 
/* ***REGOLE GENERICO END*** */
/* Regole flex */
.flexContainer{
    display: flex;
    flex-direction: row;
}
.jtfspacebet {
    justify-content:space-between;
}
.alignitm {
    align-items:center; 
}
.alignitmend {
    align-items:flex-end;
}
.jtfcenter {
    justify-content: center;
}
.jtfspacearound {
    justify-content:space-around;
}
/* End  */
/* Header  */
header{
    width: 100%;
    min-width: 1200px;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.border {
    border: 2px dotted black;
}
.logo,.link,.login {
    height: 1.5em;
    color: white;
}
.link {
    text-align: center;
    width: 60%;
    font-family:"Open Sans", sans-serif;
    font-size: 16px;
    padding: 5px;
}
a {
    text-decoration: none;
    color: white;
}
.login {
text-align: right;
}
.logo,.login {
    width:20%;
}
#buttonLogin {
    border-radius: 10px;
    padding: 7px;
    border:none;
    color: black;
}
.lightblue {
    min-height: 4em;
    padding-top: 10px;
}
.goldenrod {
    max-width:1920px;
    width:80%;
    padding: 0.2em;
    font-size: 20px;
    }
.blue {
    width:100%;
    height:500px;
    }

.pink {
    width: 70%;
    height:100%;
    flex-direction: column ;
}
.pink h1 {
    font-size: 45px;
    font-weight: 900;
    width: 80%;
    text-align: center;
}
.pink p {
    font-size: 18px;
    text-align: center;
}
.dispInlBlock
{
    display: inline-block;
}
.marginSide {
    margin: 0 auto;
}
#buttBrowser,#buttMac {
    border-radius: 25px;
    font-size: 22px;
    padding: 13px;    
}
#buttMac {
    color:black;
    background-color: white;
    margin-right: 1.5em;
}
#buttBrowser {
    background-color: black;
}

/* HEADER END */
.white {
    height:600px;
    background-color: white;
}
.softblue {
    height:100%;
    background-color: #1e90ff;
    width: 70%;
}
.softpink {
    height: 100%;
    background-color: #ffc0cb;
    width:30%;
}
.gray {
    background-color: #d3d3d3;
    height: 700px;
}
.green {
    background-color:#228b22;
    height: 100%;
    width:80%;
}
.big {
    min-height: 900px;
}
.black {
    background-color: black;
    height:700px;
}
.lightorange {
    background-color:#f08080;
    height: 100%;
    width: 30%;
    }
.cyan {
    background-color:#20b2aa;
    height:100%;
    width: 70%;
    justify-content: flex-start;
    align-items: stretch;
}
.block {
    width: 25%;
    border: 1px dotted white;
}
.spacerTop {
    border-top: 2px solid white;
    width: 100%;
}
.spacerBottom {
    border-bottom:2px solid white;
}
.smooth {
    height:110px;
    background-color: black;
}
.lightgreen {
    height:100%;
    background-color:#7fffd4;
    width:100%;
}
#bottone {all:unset;}
.bottonefooter {
    border: 2px dotted black;
}
.logofooter, .bottonefooter {
    background-color: #f08080;
    padding: 2px;
}
.sizingFooter {
    padding-top: 3em;
} 
